<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<section style="color: white;">
    <% if (u.searches.length) { %>
    <form class="new-recipe" action="/user/recipes/new" method="POST">
        <hr>
        <label>Diet: </label>
        <select name="diet" required>
            <option value="" disabled>Select Diet</option>
            <% m.diet.forEach(function(d){ %>
            <option <% if (u.searches.length) { %> <%= (d == u.searches[0].diet) ? "selected" : "" %> <% } %>
                value="<%=d%>"><%=d%>
            </option>
            <% }) %>
        </select>
        <hr>

        <label><strong>Select Cuisines </strong></label>
        <div class="cuisine-selection">
            <% m.cuisines.forEach(function(c){ %>

            <div>
                <input type="checkbox" <% if (u.searches.length) { %>
                    <%= (u.searches[0].cuisine.includes(c)) ? 'checked' : '' %> <% } %> name="cuisine" value="<%= c %>">
                <%= c %>
            </div>

            <% }) %>
        </div>
        <hr>

        <label>Intolerances: </label>
        <div class="intolerances">
            <% m.intolerances.forEach(function(i){ %>

            <div>
                <input type="checkbox" <% if (u.searches.length) { %>
                    <%= (u.searches[0].intolerances.includes(i)) ? 'checked' : '' %> <% } %> name="intolerances"
                    value="<%= i %>"> <%= i %>
            </div>
            <% }) %>
        </div>
        <hr>

        <label>Meal Type: </label>
        <div class="meal-type">
            <% m.mealType.forEach(function(meal){ %>
            <div>
                <input type="checkbox" <% if (u.searches.length) { %>
                    <%= (u.searches[0].mealType.includes(meal)) ? 'checked' : '' %> <% } %> name="meal"
                    value="<%= meal %>"> <%= meal %>
            </div>
            <% }) %>
        </div>
        <hr>
    </form>
    <% } else { %>
        <h2>Prefences are made when you get your first new recipe. Click on Recipes / Get New Recipes.</h2>
        <h6>Note: once you make your first request, preferences cannot be changed again.</h6>
    <% } %>

</section>
<%- include('./partials/footer') %>