<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="dashboard-container">
    <h1 style="text-align: center;">Hello, <%= (u) ? u.name : 'please log in'%></h1>

    <!-- Page Content -->
    <div class="dashboard-ingredients-display">
        <div class="dashboard-recipe-holder">
            <h5 class="my-4">This weeks ingredients</h5>
            <h5 class="my-4">This weeks recipes</h5>
        </div>
        <% u.currRecipes.forEach(function(r){ %>
        <div class="dashboard-recipe-holder">
            <div class="card card-outline-secondary my-4 ingredient-holder">
                <div class="card-header">
                    <%= r.title %>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <% r.ingredients.forEach(function(i){ %>
                        <li class="list-group-item"><%= i.originalString %></li>
                        <%  }) %>
                    </ul>
                </div>
            </div>

            <div class="recipe-info-holder">
                <div class="col-md-7">
                    <a href="/user/recipes/current/<%=r._id%>">
                        <img class="dashboard-imgs" src="<%= r.image %>" alt="">
                    </a>
                </div>
                <div class="col-md-7 recipe-title-and-btn">
                    <h3 class="dashboard-titles"><%= r.title %></h3>
                    <p></p>
                    <a class="btn btn-primary" href="/user/recipes/current/<%=r._id%>">View Recipe</a>
                </div>
            </div>
        </div>
        <%  }) %>







        <!-- <section>
            <h5 class="my-4">This weeks ingredients</h5>
            <% u.currRecipes.forEach(function(r){ %>
        <div class="card card-outline-secondary my-4">
            <div class="card-header">
                <%= r.title %>    
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <% r.ingredients.forEach(function(i){ %>
                    <li class="list-group-item"><%= i.originalString %></li>
                    <%  }) %>
                </ul>
            </div>
        </div>
        <% }) %>
    </section>

    <section>
        <div class="container">
            <h5 class="my-4">This weeks recipes</h5>
            <hr>
            <% u.currRecipes.forEach(function(r){ %>
        
            <div class="row">
                <div class="col-md-7">
                    <a href="/user/recipes/current/<%=r._id%>">
                        <img class="img-fluid rounded mb-2 mb-md-0" src="<%= r.image %>" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3><%= r.title %></h3>
                    <p></p>
                    <a class="btn btn-primary" href="/user/recipes/current/<%=r._id%>">View Recipe</a>
                </div>
            </div>
          
            <hr>
            <% }) %>

        </div>
    </section> -->

    </div>
</div>

<%- include('./partials/footer') %>