<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<hr>
<section style="color: white;">
    <% if (e) { %>
    <h5>Spoontacular API sent back the following error:</h5>
    <h6><%= e.message %></h6>
    <% } %>

    <% if (u.searches.length) { %>
    <h5>We pre-poulated your preferences, just hit 'Get Recipes'</h5>
    <% } else { %>
    <h5>Select your preferences for recipes.</h5>
    <% } %>

    <form class="new-recipe" action="/user/recipes/new" method="POST">
        <hr>
        <label>Diet: </label>
        <select name="diet" required>
            <option value="" disabled <%= (u.searches.length==0) ?  "selected" : "" %>  > Select Diet</option>
            <% m.diet.forEach(function(d){ %>
            <option <% if (u.searches.length) { %> <%= (d == u.searches[0].diet) ? "selected" : "" %> <% } %>
                value="<%=d%>"><%=d%>
            </option>
            <% }) %>
        </select>
        <hr>

        <label><strong>Select Cuisines </strong></label>
        <div class="cuisine-selection">
            <% m.cuisines.forEach(function(c){ %>

            <div>
                <input type="checkbox" <% if (u.searches.length) { %>
                    <%= (u.searches[0].cuisine.includes(c)) ? 'checked' : '' %> <% } %> name="cuisine" value="<%= c %>">
                <%= c %>
            </div>

            <% }) %>
        </div>
        <hr>

        <label>Intolerances: </label>
        <div class="intolerances">
            <% m.intolerances.forEach(function(i){ %>

            <div>
                <input type="checkbox" <% if (u.searches.length) { %>
                    <%= (u.searches[0].intolerances.includes(i)) ? 'checked' : '' %> <% } %> name="cuisine"
                    value="<%= i %>"> <%= i %>
            </div>
            <% }) %>
        </div>
        <hr>

        <label>Meal Type: </label>
        <div class="meal-type">
            <% m.mealType.forEach(function(meal){ %>
            <div>
                <input type="checkbox" <% if (u.searches.length) { %>
                    <%= (u.searches[0].mealType.includes(meal)) ? 'checked' : '' %> <% } %> name="cuisine"
                    value="<%= meal %>"> <%= meal %>
            </div>
            <% }) %>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary mb-2">Get Recipes</button>
    </form>

</section>
<%- include('../partials/footer') %>