<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<% var pg = (page == 'currRecipes') ? 'current' : 'previous' %>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="<%= r.image %>" alt="">
                <div class="card-body">
                    <h3 class="card-title"> <%= r.title %> </h3>
                    <h5>For:
                        <% r.dishTypes.forEach(function(t,idx){ %>
                        <small><%= t %></small>
                        <% if (idx !== (r.dishTypes.length-1)) { %>
                        <small>|</small>
                        <% } %>
                        <% }) %>
                    </h5>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                    4.0 stars
                    <p class="card-text" style="margin-top: 2%;"> summary here <%= r.summary %> </p>
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Ingredients
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <% r.ingredients.forEach(function(i){ %>
                        <li class="list-group-item"><%= i.originalString %></li>
                        <%  }) %>
                    </ul>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                </div>
            </div>

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Directions
                </div>
                <div class="card-body">
                    <ol>
                        <% r.instructions.forEach(function(i){ %>
                        <li><%= i %></li>
                        <%  }) %>
                    </ol>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>

                    <form action= "/user/recipes/<%= pg %>/<%= r._id %><%= (rat) ? "?_method=PUT":"" %>" method="POST">
                        <p>
                            <% if (rat) { %>
                            Update rating:
                            <% } else { %>
                                Rate this Recipe:
                               <% } %>
                            <span class="starRating">
                                <% for (let i=5; i>0; i--) { %>
                                <input id="rating<%=i%>" type="radio" name="rating" value="<%=i%>" 
                                <% if (rat) { %>
                                    <%= (i == rat.rating) ? "checked" : "" %>
                                   <% } %> >
                                <label for="rating<%=i%>"><%=i%></label>
                                <% } %>
                            </span>
                        </p>
                        <input type="text" name="comment" style="clear: both; overflow: auto;">
                        <button type="submit" class="btn btn-success btn-inline-block">
                            <%= (rat) ? "Update Rating" : "Save Rating" %>
                        </button>
                    </form>

                    <p style="margin-top: 5%;">
                        <% if (rat) { %>
                        <strong>Your current rating:</strong> 
                        <span class="starRating">
                            <% for (let i=5; i>0; i--) { %>
                            <input id="rating<%=i%>" type="radio" name="rating" value="<%=i%>"
                                <%= (i == rat.rating) ? "checked" : "" %>>
                            <label for="rating<%=i%>"><%=i%></label>
                            <% } %>
                        </span>
                        <span><div><%=rat.comment%></div> </span>
                        <% } %>
                    </p>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

        <div class="col-lg-3">
            <h1 class="my-4">Shop Name</h1>
            <div class="list-group">
                <a href="#" class="list-group-item active">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
        </div>
        <!-- /.col-lg-3 -->
    </div>

</div>
<!-- /.container -->


<%- include('../partials/footer') %>