<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<% var pg = (page == 'currRecipes') ? 'current' : 'previous' %>

<!-- Page Content -->
<div class="container" style="text-align: center;">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="<%= r.image %>" alt="">
                <div class="card-body">
                    <h3 class="card-title"> <%= r.title %> </h3>
                    <h5>For:
                        <% r.dishTypes.forEach(function(t,idx){ %>
                        <small><%= t %></small>
                        <% if (idx !== (r.dishTypes.length-1)) { %>
                        <small>|</small>
                        <% } %>
                        <% }) %>
                    </h5>
                    <h5>Cuisine:
                        <% r.cuisines.forEach(function(c,idx){ %>
                        <small><%= c %></small>
                        <% if (idx !== (r.cuisines.length-1)) { %>
                        <small>|</small>
                        <% } %>
                        <% }) %>
                    </h5>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                    4.0 stars
                    <p class="card-text" style="margin-top: 2%;"> summary here <%= r.summary %> </p>
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Ingredients
                </div>
                <div class="card-body" style="text-align: left;">
                    <ul class="list-group">
                        <% r.ingredients.forEach(function(i){ %>
                        <li class="list-group-item"><%= i.originalString %></li>
                        <%  }) %>
                    </ul>
                </div>
            </div>

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Directions
                </div>
                <div class="card-body" style="text-align: left;">

                    <h6>
                        Serves: <small><%= r.servings%></small>
                    </h6>
                    <h6>
                        Cooks in: <small><%= r.readyInMinutes%> minutes</small>
                    </h6>
                    <ol>
                        <% r.instructions.forEach(function(i){ %>
                        <li><%= i %></li>
                        <%  }) %>
                    </ol>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>

                    <form action="/user/recipes/<%= pg %>/<%= r._id %><%= (rat) ? "?_method=PUT":"" %>" method="POST">
                        <p>
                            <% if (rat) { %>
                            Update rating:
                            <% } else { %>
                            Rate this Recipe:
                            <% } %>
                            <span class="starRating">
                                <% for (let i=5; i>0; i--) { %>
                                <input id="rating<%=i%>" type="radio" name="rating" value="<%=i%>" <% if (rat) { %>
                                    <%= (i == rat.rating) ? "checked" : "" %> <% } %>>
                                <label for="rating<%=i%>"><%=i%></label>
                                <% } %>
                            </span>
                        </p>
                        <input type="text" name="comment" style="clear: both; overflow: auto;">
                        <button type="submit" class="btn btn-success btn-inline-block">
                            <%= (rat) ? "Update Rating" : "Save Rating" %>
                        </button>
                    </form>

                    <p style="margin-top: 5%;">
                        <% if (rat) { %>
                        <strong>Your current rating:</strong>
                        <span class="starRating">
                            <% for (let i=5; i>0; i--) { %>
                            <input id="rating<%=i%>" type="radio" name="rating" value="<%=i%>"
                                <%= (i == rat.rating) ? "checked" : "" %>>
                            <label for="rating<%=i%>"><%=i%></label>
                            <% } %>
                        </span>
                        <span>
                            <div><%=rat.comment%></div>
                        </span>
                        <form class="form-inline"
                            action="/user/recipes/<%= pg %>/<%= r._id %><%= (rat) ? "?_method=DELETE":"" %>"
                            method="POST">
                            <button type="submit" class="btn btn-danger btn-inline-block">
                                Delete Rating
                            </button>
                            <% } %>
                    </p>

                    <p style="margin-top: 5%;">
                        <% r.ratings.forEach(function(rating){ %>
                        <div>
                            <%= rat._id%> , kjh<%=rating._id%>
                        </div>
                        <strong>Rating:</strong>
                        <span class="starRating">
                            <% for (let i=5; i>0; i--) { %>
                            <input id="rating<%=i%>" type="radio" name="rating" value="<%=i%>"
                                <%= (i == rating.rating) ? "checked" : "" %>>
                            <label for="rating<%=i%>"><%=i%></label>
                        </span>
                        <span>
                            <div><%=rating.comment%></div>
                        </span>
                        <% } %>
                        <% }) %>
                    </p>

                    <!-- Will need to display other people's ratings here; -->


                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>